@tailwind base;
@tailwind components;
@tailwind utilities;

.main{
  background-color:#15032d;
}
.book2 {
  background: rgba(45, 16, 88, 0.5); /* RGB with alpha for transparency */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  backdrop-filter: blur(8px); /* Background blur effect */
  border: 1px solid rgba(30, 30, 30, 0.225); /* Border with slight transparency */
}
.paradox{
  background: rgba(104, 103, 106, 0.5); /* RGB with alpha for transparency */
  -webkit-backdrop-filter: blur(8px); /* Safari support */
  backdrop-filter: blur(8px); /* Background blur effect */
  border: 1px solid rgba(30, 30, 30, 0.225)
}

.how{
  background: rgba(32, 12, 62, 0.5);
}